.SearchBar form {
    display: inline-flex;
    position: relative;
    width: 30rem;
    align-items: center;
}

.SearchBar input {
    border-radius: 5px;
    border: 1px darkslategray;
    box-shadow: 0px 2px 2px #afafb4;
    height: 2rem;
    width: 100%;
    opacity: 0.75;
}

.SearchBar input[type="text"], textarea {
    background-color: gainsboro;
}

.SearchButton {
    border: 0px;
    border-radius: 5px;
    height: 2rem;
    font-size: .75rem;
    margin: 0.5rem;
    background-color: gainsboro;  
    border: 1px darkslategray;
    box-shadow: 0px 2px 2px #afafb4;
    opacity: 0.75;
    color: darkslategray;

}

.SearchBar input[type="text"]:focus, textarea:focus {
    background-color: white;
    outline: 2px darkslategray;
}

/* Mobile Styles */

.mobileSearch {
    --size: 2rem;
    border: 2px solid darkslategray;
    display: flex;
    border-radius: 100vh;
    height: var(--size);
    width: var(--size);
    padding: 3px;
    position: relative;
    transition: width 300ms ease-in-out;
    overflow: hidden;
}

.mobileSearchInput {
    border: 0;
    padding: .25em 1em;
    flex-grow: 1;
    outline: 0;
    font-size: 1.5rem;
    background-color: gainsboro;
    background: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    line-height: calc(var(--size) - 3px);
    opacity: 0;
    cursor: pointer;
}

.mobilSearchInput:focus {
    outline: 0;
}

.mobileSearchSubmit {
    font-size: 1rem;
    cursor: pointer;
    border: 0;
    border-radius: 100vh;
    background: transparent;
    margin-left: auto;
}

.mobileSearch:focus-within {
    width: 100%;

   
}

.mobileSearchInput:focus-within {
    opacity: 1;
    z-index: initial;
}