.main .btn {
    border-radius: 5px;
    background-color: orangered;
    box-shadow: 0px 2px 2px #afafb4;
    font-size: 1rem;
    color: white;
    height: 2rem;
    border: 0px;
    opacity: 0.75;

}