.wrapper {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;

}

.background {
    background: rgba(112, 128, 144, 0.75);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}



#fullImage {
    opacity: 1;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;

}