<!-- CommentList will iterate over returned comments and map them. It will pull up as a partially transparent overlay over the whole PhotoGrid 
    with comments contained in slightly more opaque boxes. In its hardcoded iteration it will go over a set of ten identical comments
    using a loop of some kind. It will require an onClick event to activate with an x-box to close. The mobile and tablet event will be fired
    onTouch as a toggle with a second touch to close the comments. -->
<div class="commentList">
    <button class="desktopClose">X</button>
</div>